<link rel="stylesheet" href="stylesheets/health-bar.css"/>


<div class="buffer"></div>
<button class="btn btn-info" id="health-bar-reset">Reset</button>
<button class="btn btn-primary" id="health-bar-run">Run !</button>
<div class="buffer"></div>

<div id="hb-wrapper">
    <div id="health-bar">
        <span id="hb-overlay"></span>
    </div>
</div>


<script src="javascripts/health-bar.js"></script>