<link rel="stylesheet" href="stylesheets/progress-bar.css"/>

<div class="buffer"></div>

<button id="pb-reset-button" class="btn btn-info">Reset</button>
<button id="pb-button" class="btn btn-primary">Toggle Effect</button>

<div id="pb-wrapper">
    <div id="pb-effect">
      <span id="pb-overlay"></span>
    </div>
</div>

<script src="javascripts/progress-bar.js"></script>